// ====================
//    Menu Styles
// ====================

.title {
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2rem;
    margin: 0;
    border-top: 1px solid $light-grey;
    padding-top: 3rem;
}

.drinks .title:first-of-type {
    border-top: none;
}

.subtitle {
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 0.3rem;
    margin: 0;
}

.reds {
    margin-top: 3rem;
    border-left: 4px solid maroon;
}

.whites {
    margin-top: 2rem;
    border-left: 4px solid $light-grey;
}

.menu-item {
    list-style: none;
    margin-bottom: 1rem;
    margin-left: -2rem;
    width: 100%;

    @include mq('med') {
        width: 50%;
    }
}

.menu-list {
    display: flex;
    flex-direction: column;

    @include mq('med') {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}

.menu-item-name {
    font-size: 1.2rem;
}

.menu-item-name, .menu-item-price {
    font-weight: bold;
}

section ul {
    padding-bottom: 10px
}