// ====================
//     Typography
// ====================

body {
    font-family: $font-family-primary;
    color: $dark-grey;
}

.banner {
    color: $white;

    & .banner-title {
        font-family: $font-family-secondary;
        font-size: 4rem;
        margin-top: 0;
        text-shadow: 2px 2px $dark-grey;

        @include mq('lg') {
            font-size: 6rem;
        }
    }

    & .tagline {
        font-size: 1.4rem;
        text-shadow: 1px 1px $dark-grey;

        @include mq('lg') {
            padding-top: 0;
            margin-top: -1rem;
            align-self: center;
        }
    }

    & .phone {
        font-size: 1.5rem;
        text-shadow: 2px 2px $dark-grey;

        @include mq('sm-med') {
            padding-top: 1rem;
        }
        @include mq('lg') {
            font-size: 1.8rem};
    }
}

.copy {
    text-align: center;
    padding-top: 2rem;
    line-height: 15px;
    font-size: 0.9rem;
}

footer {

    & p {
    line-height: 5px;
    color: $white;
    }
    & .footer-title {
        color: $white;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 2rem;
        margin-bottom: -1rem;
    }
}

.phone {
    margin-top: 0.5rem;
}

.ph {
    text-decoration: none;
    color: $white;
    font-weight: bold;
}