// ===============================
//           Variables
// ===============================

// TYPOGRAPHY
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&family=Oswald:wght@300;400;700&display=swap');

$font-family-primary: 'Open Sans', sans-serif;
$font-family-secondary: 'Oswald', sans-serif;


// COLORS
$white: #fff;
$dark: #363636;
$light: #F5F5F5;
$primary-color: #00D1B2;
$success: #419a53;
$error: #b22734;


// LAYOUT
$max-width: 1200px;

$breakpoints: ('sm': 320px,
    'sm-med': 480px,
    'med': 768px,
    'lg': 1024px,
    'xl': 1440px);