// ===============================
//       Navbar Styles
// ===============================

.navbar {
    padding: 1rem 2rem;
    transition: all 0.6s ease-in-out;
}

#logo {
    transform: scale(1.5);

    &:hover {
        background-color: $black;
    }
}

.navbar-end {
    font-size: 1.7rem;
}

.navbar-menu {

    & a {
        &:hover {
            background-color: $black;
            color: $primary-color;
        } 
    }

    @include mq('sm') {
        background-color: $black;
        box-shadow: none;
        text-align: right;
    }
}

.navbar-item {
    text-transform: uppercase;
    transition: all 0.6s ease-in-out;

    &:hover {
        background-color: $black;
        color: $primary-color;
    }

    @include mq("sm-med") {
        color: $white;
    }
}
