// ===============================
//       Navbar Styles
// ===============================

.navbar {
    padding: 1rem 2rem;
}

#logo {
    transform: scale(1.3);
}

.navbar-menu {

    & a {
        &:hover {
            background-color: $dark;
            color: $primary-color;
        } 
    }

    @include mq('sm') {
        background-color: $dark;
        box-shadow: none;
        text-align: right;
    }
}

.navbar-item {
    text-transform: uppercase;

    @include mq("sm-med") {
        color: $white;
    }
}
