// ===============================
//       Typewriter Styles
// ===============================

#typewriter {
    display: flex;
    flex-direction: row;
    font-family: $font-family-secondary;
    font-size: 1.5rem;
}