// ===============================
//          Typography
// ===============================

body {
    font-family: $font-family-primary;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: $light;
    box-shadow: 0 0 0px 1000px $dark inset;
    -webkit-box-shadow: 0 0 0px 1000px $dark inset;
    transition: background-color 5000s ease-in-out 0s;
}

.title {
    font-family: $font-family-primary;
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    margin-top: 6rem;
}

.intro-text,
.about-p {
    font-family: $font-family-secondary;
    font-weight: lighter;
    max-width: 800px;
    text-align: center;
    padding: 0 2rem;
    margin: 0 auto;
}

.about-p {
    margin: 1rem auto;
}

#projects,
#contact {
    & .title {
        color: $white;
    }
}

#projects .title {
    padding-top: 1rem;
}

input, textarea {
    font-family: $font-family-secondary;
    color: $light;
    font-size: 1.2rem;
}

::placeholder,
.message::placeholder
 {
    font-family: $font-family-secondary;
    font-size: 1.2rem;
    font-weight: 700;
}

.project-title {
    font-size: 1.5rem;
}